*.json
*.pyc
.coverage
.idea
/Chatbot Clanbot/config.ini
/Chatbot MAI/config.ini
/Chatbot MAI/test.py
/Chatbot MAI/backups
/Chatbot MAI/files
/Chatbot MAI/plots
/Chatbot MAI2/config.ini
/Chatbot MAI2/test.py
/Chatbot MAI2/backups
/Chatbot MAI2/files
/Chatbot MAI2/plots
/Chatbot Shaper/config.ini