[bot]
nick = MAI
username = MAI
realname = MAI
nickserv_password = howAboutNo

host = irc.faforever.com
port = 6667

twitchnick = FAFMAI
twitchoauth = howAboutNo
twitchhost = irc.chat.twitch.tv
twitchport = 6667

lstm_chars = ./files/faf_chars.json
lstm_weights = ./files/faf_weights.npy

includes =
    irc3.plugins.command
    qai_plugin
    irc3.plugins.storage

storage = json://db.json
autosave = 600
markovwordsstorage_chat = ./dbmarkovChat.json
markovwordsstorage_changelog = ./dbmarkovChangelogs.json
chatlevelstorage = ./chatlevel.json
chateventstorage = ./chatevents.json
chatmiscstorage = ./chatmisc.json

autojoins =
    shadows
    aeolus

spam_protect_time = 60
default_command_point_requirement = 500

[irc3.plugins.command]
antiflood = true
cmd = !
guard = irc3.plugins.command.mask_based_policy

[irc3.plugins.command.masks]
# this section is used by the guard to secure the bot's command
# change your nickname and uncomment the line below
Washy!*@* = all_permissions
* = view
