[bot]
nick = MAI2
username = MAI2
realname = MAI2
nickserv_password = NoTy

host = irc.faforever.com
port = 6667

includes =
    irc3.plugins.command
    qai_plugin
    irc3.plugins.storage

storage = json://./data/chat/db.json
autosave = 600

chat_db = ./data/chat/data.fs
markov_aeolus = ./data/misc/aeolus.json
effects_file = ./data/misc/effects.json
backups_path = ./data/backups/

autojoins =
    aeolus

spam_protect_time = 60
default_command_point_requirement = 500

[irc3.plugins.command]
antiflood = true
cmd = !
guard = irc3.plugins.command.mask_based_policy

[irc3.plugins.command.masks]
# this section is used by the guard to secure the bot's command
# change your nickname and uncomment the line below
Washy!*@* = all_permissions
* = view
